<html>
    <head>
        <link rel="stylesheet" href="style.css"></link>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="action.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"/>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
</html>
<body style="background-color:#383434">
        <nav class="fill">
                <ul>
                  <li style="font-family: 'Luckiest Guy', cursive; font-size: 20px;" >What to watch?</li>
                  <li><a href="home.html">Home</a></li>
                  <li><a href="#">Movies</a></li>
                  <li  style="float: right;">
                        <a href="index.html">Sign Out</a>
                    </li>
                </ul>
              </nav>
              <div class="row"><h3 style="font-family:'Montserrat', sans-serif;color: white; margin-left: 20px;">Search Results for "query"</h3> </div>          
              <div class="row">
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="imgBx">
                              <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
                          </div>
                          <div class="details">
                              <h2>Movie Title &nbsp; <i class="material-icons"style="color: grey; float: right;">star</i><span style="float:right;">3.1</span><br> 
                    
                                  <span>
                                      <ul class = "tags">
                                          <li class="tag">Genre1 </li>
                                           <li class="tag">Genre2 </li> 
                                           <li class="tag">Genre3 </li>
                                           <li> </li>
                                          </ul> <br>
                                  </span>
                       
     
                               
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="imgBx">
                              <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
                          </div>
                          <div class="details">
                              <h2>Movie Title &nbsp; <i class="material-icons"style="color: grey; float: right;">star</i><span style="float:right;">3.1</span><br> 
                    
                                  <span>
                                      <ul class = "tags">
                                          <li class="tag">Genre1 </li>
                                           <li class="tag">Genre2 </li> 
                                           <li class="tag">Genre3 </li>
                                           <li> </li>
                                          </ul> <br>
                                  </span>
                       
     
                               
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="imgBx">
                              <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
                          </div>
                          <div class="details">
                              <h2>Movie Title &nbsp; <i class="material-icons"style="color: grey; float: right;">star</i><span style="float:right;">3.1</span><br> 
                    
                                  <span>
                                      <ul class = "tags">
                                          <li class="tag">Genre1 </li>
                                           <li class="tag">Genre2 </li> 
                                           <li class="tag">Genre3 </li>
                                           <li> </li>
                                          </ul> <br>
                                  </span>
                       
     
                               
                          </div>
                        </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="card">
                          <div class="imgBx">
                              <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
                          </div>
                          <div class="details">
                              <h2>Movie Title &nbsp; <i class="material-icons"style="color: grey; float: right;">star</i><span style="float:right;">3.1</span><br> 
                    
                                  <span>
                                      <ul class = "tags">
                                          <li class="tag">Genre1 </li>
                                           <li class="tag">Genre2 </li> 
                                           <li class="tag">Genre3 </li>
                                           <li> </li>
                                          </ul> <br>
                                  </span>
                       
     
                               
                          </div>
                        </div>
                  </div>
  
                    
              </div>
</body>
